body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.hero-section {
  text-align: center;
  min-height: 100vh;
  background-image: url(https://w.wallhaven.cc/full/e7/wallhaven-e72q88.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar {
  background: var(--white);
  padding: 1.25rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 12px; /* Jarak antara gambar katana dan teks ZAN */
  text-decoration: none;
}

.logo-img {
  height: 35px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  text-decoration: line none;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  color: aqua;
}

.nav-menu a {
  color: #333333;
  padding: 8px 15px;
  border: 1px solid #ff4500;
  text-decoration: none;
  margin-right: 20px; /* Memberi jarak antar tiap link */
  font-size: 1.1rem;
  font-family: "Sawarabi Mincho", serif;
}

.nav-menu a:hover {
  color: #ff4500;
}

.btn-katana {
  display: inline-block;
  width: fit-content;
  margin: 20px auto 0 auto;
  padding: 5px 10px;
  background-color: #ff4500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: "Sawarabi Mincho", serif;
}

.story {
  background-color: #1a1a1a;
  padding: 80px 20px;
}

.story-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; /* Sejajar dari atas */
  gap: 40px;
}

.story-img-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.story-text {
  flex: 1.2;
}

.story h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  min-height: auto; /* HAPUS min-height 500px yang sebelumnya */
}
.story h2 {
  color: #ff4500;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 40px; /* Jarak antara judul dan konten bawah */
}

.story-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.story-img {
  width: 100%; /* Gambar mengikuti lebar flex box */
  max-width: 500px; /* Batas maksimal lebar gambar */
  height: auto;
  border-radius: 15px; /* Agar sudutnya tumpul (rounded) */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.story p {
  color: #cccccc;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: justify;
  margin: 0;
}
