body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  background: var(--white);
  padding: 1.25rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 12px; /* Jarak antara gambar katana dan teks ZAN */
  text-decoration: none;
}

.logo-img {
  height: 35px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  text-decoration: line none;
  font-style: japanese;
}

.nav-menu {
  display: flex;
  align-items: center;
  color: aqua;
}

.nav-menu a {
  color: #333333;
  padding: 8px 15px;
  border:  1px solid #ff4500;
  text-decoration: none;
  margin-right: 20px; /* Memberi jarak antar tiap link */
  font-size: 1.1rem;
}

.nav-menu a:hover {
  color: #ff4500;
}

.hero-section {
  text-align: center;
  min-height: 80vh;
  padding: 100px 20px;
  background-image: url(https://w.wallhaven.cc/full/e7/wallhaven-e72q88.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
